html,body{
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
}
webview#touken {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

html,body,webview#touken {
	/*width: 800px;*/
	width: 100%;
	/*height: 480px;*/
	height: 100%;
}